$gray: #4d5768;
$gray-alt: #485263;

.notifications-cardimage-eventbox {
  background-color: $background-alt;
  border-radius: 0.4em;
}

.notifications-cardimage-eventbox:hover {
  background-color: $background-light;
}

.notifications-cardimage-icon {
  margin: 0 0 0 -0.21em;
  background-size: cover;
  background-repeat: no-repeat;
}

.notifications-cardimage-image-box {
  padding: 1em;
  margin: 0em 1em 0em 1em;
  background-color: $background;
  border-radius: 1em;
}

.notifications-cardimage-image {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 11%;
}

.notifications-cardimage-body-box {
  font-size: 15px;
  padding: 0.5em 0 0.5em 0;
}

.notifications-cardimage-summary-box {
  padding: 0.5em 0 0.5em 0.9em;
  background-color: rgba($blue, 0.9);
  border-radius: 0.4em 0.4em 0 0;
  color: rgba($background, 1);
}

.notifications-cardimage-appname-label {
  font-size: 14;
  font-weight: 600;
}

.notifications-cardimage-close-button {
  margin: 0em 1em 0em 0;
  background-color: lighten($red, 10);
  color: rgba($background, 1);
  font-size: 20px;
  border-radius: 50%;
  font-family: "Metropolis", "Phosphor";
}

.notifications-cardimage-close-button:hover {
  background-color: $red;
  color: rgba($background, 1);
}

.notifications-cardimage-body-outer {
  padding: 0 1em 0 0;
}

.notifications-cardimage-summary-label {
  font-size: 20;
  margin-top: 1em;
  padding-bottom: 0.3em;
  font-weight: bold;
  color: $foreground;
}

.notifications-cardimage-body-label {
  font-size: 16;
  color: $foreground;
}

.notifications-cardimage-timestamp {
  color: $magenta;
  font-weight: 500;
}

.notifications-cardprog-eventbox {
  background: $background-alt;
  border-radius: 0.5em;
}

.notifications-cardprog-eventbox:hover {
  background: $background-light;
}

.notifications-cardprog-image-box {
  padding: 0 1em 0 1em;
}

.notifications-cardprog-image {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 11%;
}

.notifications-cardprog-body-box {
  font-size: 15;
  padding: 0.5em 0 0.5em 0;
}

.notifications-cardprog-summary-box {
  padding: 0.3em 0 0.3em 0.9em;
  background-color: darken($background-alt, 6%);
  border-radius: 0.6em 0.6em 0 0;
  color: $foreground;
}

.notifications-cardprog-appname-label {
  font-size: 16;
  font-weight: bold;
}

.notifications-cardprog-close-button {
  margin: 0em 1em 0em 0;
  padding: 0.22em 0.2em 0.2em 0.23em;
  background-color: $background-light;
  color: $red;
  font-size: 20px;
  border-radius: 50%;
}

.notifications-cardprog-close-button:hover {
  background-color: $gray-alt;
  color: $red;
}

.notifications-cardprog-body-outer {
  padding: 0 1em 0 0;
}

.notifications-cardprog-summary-label {
  font-size: 20;
  margin-top: 0.3em;
  padding-bottom: 0.3em;
  font-weight: bold;
  color: $foreground;
}

.notifications-cardprog-body-label {
  font-size: 16;
  color: $foreground;
  padding-bottom: 0.3em;
}

.notifications-cardprog-timestamp {
  color: lighten($gray, 10%);
  font-weight: bold;
}

.notifications-cardprog-scale {
  background-color: $gray;
  border-radius: 1em;
  margin: 0.5em 0 0.5em;

  contents {
    trough {
      border-radius: 1em;

      highlight {
        background: linear-gradient(to right, $cyan, $blue);
        padding: 0.7em;
        border-radius: 1em;
      }
    }
  }
}

.notifications-cardprog-value-label {
  padding: 0 0.5em 0 0.5em;
  margin: 0.2em 0 0.2em 0;
  color: $background;
  font-weight: 700;
  background-color: $yellow;
  border-radius: 30%;
}

.notifications-cardscr-eventbox {
  background-color: $background-alt;
  border-radius: 0.6em;
}

.notifications-cardscr-eventbox:hover {
  background-color: $background-light;
}

.notifications-cardscr-summary-box {
  padding: 0.3em 0 0.3em 0.9em;
  background-color: darken($background-alt, 6%);
  border-radius: 0.6em 0.6em 0 0;
  color: $foreground;
}

.notifications-cardscr-close-button {
  margin: 0.2em 1em 0.2em 0;
  padding: 0.22em 0.2em 0.2em 0.23em;
  background-color: $background-light;
  color: $red;
  font-size: 20px;
  border-radius: 100%;
}

.notifications-cardscr-close-button:hover {
  background-color: $gray-alt;
  color: $red;
}

.notifications-cardscr-summary-label {
  font-size: 20;
  font-weight: bold;
  color: $foreground;
}

.notifications-cardscr-body-label {
  font-size: 16;
  color: $foreground;
}

.notifications-cardscr-timestamp {
  color: lighten($magenta, 10%);
  font-weight: bold;
  padding-right: 1em;
}

.notifications-cardscr-image {
  margin: 1em;
  border-radius: 0.6em;
  background-size: cover;
  background-repeat: no-repeat;
}

.notifications-cardscr-open-button,
.notifications-cardscr-delete-button {
  font-size: 20;
  font-weight: bold;
  padding: 0.6em 3.72em 0.6em 3.72em;
  margin-bottom: 0.7em;
  border-radius: 0.5em;
  color: $background;
}

.notifications-cardscr-open-button {
  background-color: $blue;
}

.notifications-cardscr-open-button:hover {
  color: $blue;
  background-color: $background;
}

.notifications-cardscr-delete-button {
  background-color: $background;
  color: $red;
}

.notifications-cardscr-delete-button:hover {
  background-color: $red;
  color: $background;
}

.notifications-dnd-box {
  background-color: $background-alt;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 0.8em;
}

.notifications-dnd-header {
  font-size: 1.3em;
  margin: 0.2em 0em 0em 0.7em;
  font-weight: bold;
  color: $foreground;
  padding-top: 0.8em;
}

.notifications-dnd-labels {
  padding: 0em 1.5em 1em 1.5em;
}

.notifications-dnd-toggle {
  padding: 0.3em 0.6em 0.3em 0.6em;
  border-radius: 0.6em;
  font-weight: bold;
  margin-left: 17em;
  margin-bottom: 0.25em;
  color: rgba($background, 0.8);
  opacity: 0.6;
}

.notifications-dnd-toggle:hover {
  opacity: 1;
  border-radius: 1em;
}

.notifications-dnd-toggle-ON {
  background-color: $red;
}

.notifications-dnd-toggle-OFF {
  background-color: $green;
}

.notifications-empty-box {
  padding: 1em 1em 10em 0;
}

.notifications-empty-label {
  padding: 3em 1em 0em 1em;
  color: $foreground-alt;
  font-weight: 500;
  font-size: 18;
  font-family: Dosis, Phosphor, "Iosevka Nerd Font", sans-serif;
}

.notifications-separator {
  font-size: 0.5;
  border-radius: 100%;
  background-color: $background-alt;
  margin: 35em 25em 35em 25em;
}

.notifications-layout-box {
  background-color: $background;
  padding-bottom: 1em;
  transition: 550ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

.dnd-icon-label {
  font-size: 26;
}

.notifications-headers {
  padding: 1em 2em 0 2em;
  margin-bottom: 1.5em;
  color: $cyan;
  font-family: "Caviar Dreams";
}

.notifications-headers-label {
  font-size: 25;
  font-weight: bold;
  color: $cyan-light;
  opacity: 0.8;
}

.notifications-headers-clear {
  font-size: 25;
  color: lighten($green, 20%);
  font-family: "Metropolis", "Phosphor";
}

.notifications-headers-close {
  font-size: 25;
  color: lighten($red, 20%);
  font-family: "Metropolis", "Phosphor";
}

.notifications-headers-clear:hover {
  color: $green;
}

.notifications-headers-close:hover {
  color: $red;
}

.notifications-scroll {
  margin: 0 1.5em 0em 1.5em;
}

.notifications-cardprog-separator,
.notifications-cardradial-separator,
.notifications-cardimage-separator {
  opacity: 0;
}

.notifications-cardimage-summary-box-CRITICAL {
  background-color: rgba($red, 0.9);
}

.notifications-cardimage-summary-box-LOW {
  background-color: rgba($green, 0.9);
}

.notifications-quad-tiles-box-one {
  margin: 1em 1em 0em 1em;
}

.cpu-button-box {
  font-family: "Metropolis", "Phosphor";
  border-radius: 0.5em;
  background-color: $background-alt;
  font-size: 2em;
}

.notifications-cpu-button-label {
  font-family: "Metropolis", "Phosphor";
  color: $foreground;
  font-weight: 500;
  font-size: 0.9em;
  margin-top: 0.15em;
  padding: 0.6em 1em 0.6em 0em;
}

.notifications-gpu-button-label {
  font-family: "Metropolis", "Phosphor";
  color: $foreground;
  font-weight: 500;
  font-size: 0.9em;
  margin-top: 0.15em;
  padding: 0.6em 0.7em 0.6em 0em;
}

.notifications-memory-button-label {
  font-family: "Metropolis", "Phosphor";
  color: $foreground;
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 0.15em;
  padding: 0.6em 0.7em 0.6em 0em;
}

.notifications-storage-button-label {
  font-family: "Metropolis", "Phosphor";
  color: $foreground;
  font-size: 0.9em;
  font-weight: 500;
  padding: 0em 0.7em 0.02em 0em;
}

.notifications-cpu-button-logo {
  font-family: "Metropolis", "Phosphor";
  color: $red;
}

.notifications-gpu-button-logo {
  font-family: "Metropolis", "Phosphor";
  color: $yellow;
}

.notifications-memory-button-logo {
  font-family: "Metropolis", "Phosphor";
  color: $green;
}

.notifications-storage-button-logo {
  font-family: "Metropolis", "Phosphor";
  color: $cyan;
}

.gpu-button-box {
  border-radius: 0.5em;
  background-color: $background-alt;
  font-size: 2em;
}

.memory-button-box {
  border-radius: 0.5em;
  background-color: $background-alt;
  font-size: 2em;
}

.storage-button-box {
  border-radius: 0.5em;
  background-color: $background-alt;
  font-size: 2em;
}

.notifications-storage-button-logo {
  padding-top: 0.05em;
}

.notifications-quad-tiles-box-two {
  margin: 1em 1em 0em 1em;
}

.dnd-icon-label {
  font-size: 2em;
  color: $magenta;
  margin-top: 0.5em;
}
