[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:ahujaankush/AetherizedZSH.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/ahujaankush/AetherizedGigachad
[submodule ".config/awesome"]
	path = .config/awesome
	url = https://github.com/ahujaankush/awesomeAetherized
