[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:ahujaankush/AetherizedZSH.git
[submodule ".config/AetherizedHypr"]
	path = .config/AetherizedHypr
	url = git@github.com:ahujaankush/AetherizedHypr.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:ahujaankush/nvim.git
