/*
 * vim: ft=less
 */

@define-color background rgba(14, 17, 21, 0.5);
@define-color foreground #dfdde0;
@define-color background-alt rgba(23, 28, 33, 0.5);
@define-color background-light rgba(45, 49, 57, 0.5);
@define-color foreground-alt #c5d7d7;

@define-color red #f7467b;
@define-color red-light #ff62a4;

@define-color green #1addb0;
@define-color green-light #00ffb1;

@define-color yellow #ff8a30;
@define-color yellow-light #FFC457;

@define-color blue #2798e4;
@define-color blue-light #53befc;

@define-color cyan #2BCAFC;
@define-color cyan-light #2bfcfc;

@define-color magenta #9554ff;
@define-color magenta-light #B467F9;

.notification-row {
  transition: all 200ms ease;
  outline: none;
  margin-bottom: 4px;
  border-radius: 12px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: transparent;
}

.control-center .notification {
  box-shadow: none;
}

.control-center .notification-row {
  opacity: 0.5;
}

.notification {
  background: @background;
  transition: all 200ms ease;
  border-radius: 8px;
  margin: 6px 6px;
  box-shadow: none;
  padding: 0;
}

/*.low {
  background: yellow;
  padding: 6px;
  border-radius: 12px;
}

.normal {
  background: green;
  padding: 6px;
  border-radius: 12px;
}

.critical {
  background: red;
  padding: 6px;
  border-radius: 12px;
}*/

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 12px;
}

.close-button {
  background: @red;
  color: @background;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  min-width: 18px;
  min-height: 18px;
}

.close-button:hover {
  box-shadow: none;
  background: @red-light;
  color: @background;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @background;
  border: none;
  color: white;
  transition: all 200ms ease;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @background-alt;
}

.notification-default-action {
  border-radius: 12px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
}

.image {
}

.body-image {
  background-color: transparent;
  border-radius: 12px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @magenta;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: white;
  text-shadow: none;
}

.control-center {
  background: @background;
  padding: 4px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 10px;
  font-family: "Caviar Dreams";
  font-size: 1.6em;
  font-weight: 800;
}
.widget-title > button {
  font-size: initial;
  color: @green;
  text-shadow: none;
  background: @transparent;
  border: none;
  box-shadow: none;
  font-size: 1.15em;
  font-family: Dosis, Phosphor, "Iosevka Nerd Font", sans-serif;
}
.widget-title > button:hover {
  color: @green-light;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.2em;
  font-family: Dosis, Phosphor, "Iosevka Nerd Font", sans-serif;
  font-weight: 800;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 4px;
  padding: 4px;
  background: @red;
  border: none;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @green;
}
.widget-dnd > switch slider {
  background: transparent;
  border-radius: unset;
  border: none;
  box-shadow: none;
}

/* Label widget */
.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}
.widget-mpris-player {
  padding: 8px;
  margin: 8px;
  background-color: @background-alt;
  border-radius: 12px;
}
.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}
.widget-mpris-subtitle {
  font-size: 1.1rem;
}

/* Buttons widget */
.widget-buttons-grid {
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
  background-color: @red;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @background;
  border-radius: 12px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @background-alt;
}

/* Menubar widget */
.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.AnyName {
  background-color: @background;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.AnyName > button {
  background: transparent;
  border: none;
}

.AnyName > button:hover {
  background-color: @background-alt;
}

.topbar-buttons > button {
  /* Name defined in config after # */
  border: none;
  background: transparent;
}

/* Volume widget */

.widget-volume {
  background-color: @background;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

/* Backlight widget */
.widget-backlight {
  background-color: @background;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

/* Title widget */
.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}
.widget-inhibitors > button {
  font-size: initial;
  color: white;
  text-shadow: none;
  background: @background;
  border: none;
  box-shadow: none;
  border-radius: 12px;
}
.widget-inhibitors > button:hover {
  background: @background-alt;
}
