* {
  border: none;
  border-radius: 0;
  font-weight: 400;
}

tooltip {
  font-family: Phosphor, Dosis;
  background-color: #b467f9;
  color: #171c21;
  font-size: 14px;
  border-radius: 10px;
}

window#waybar {
  background-color: rgba(14, 17, 21, 0.5);
  color: #b3b7bd;
  border-top-left-radius: 10;
  border-top-right-radius: 10;
}

#taskbar {
  background-color: transparent;
  padding: 0 3px;
  border-radius: 10px;
}

#taskbar button {
  background-color: rgba(45, 49, 57, 0.5);
  border-radius: 10;
  padding: 0 11px;
  margin: 6px 3px;
}

#taskbar button:hover {
  background-color: rgba(45, 49, 57, 1);
}

#taskbar button.active {
  background-color: rgba(83, 190, 252, 0.35);
}

#taskbar button.active:hover {
  background-color: rgba(83, 190, 252, 0.4);
}