* {
  border: none;
  border-radius: 0;
  font-weight: 400;
}

window#waybar {
  background-color: rgba(16, 19, 23, 0.5);
  border-radius: 10px;
  color: #b3b7bd;
}

tooltip {
  font-family: Phosphor, Dosis;
  background-color: #53befc;
  color: #171c21;
  font-size: 14px;
  border-radius: 10px;
}

#custom-launcher {
  background-color: #1f2429;
  color: #1addb0;
  font-size: 28px;
  /* margin-right: 6px; */
  padding: 0 10px 0 16px;
  animation: gradient 20s ease-in-out infinite;
}

#workspaces {
  background-color: #1f2429;
  border-top-right-radius: 24px;
}

#workspaces button {
  font-family: Phosphor, Dosis, sans-serif;
  color: #53befc;
  font-size: 16px;
  transition: 0.3s;
  padding: 0 10px;
}

#workspaces button.focused {
  border-bottom: none;
}

#workspaces button.active {
  color: #b467f9;
  border-bottom: none;
}

#workspaces button:last-child {
  border-top-right-radius: 24px;
  padding-right: 16px;
}

#workspaces button.urgent {
  color: #f7467b;
}

#taskbar {
  background-color: transparent;
}

#taskbar button {
  border-bottom: 1.5px solid transparent;
  border-top: 1.5px solid transparent;
}

#taskbar button:hover {
}

#taskbar button.active {
  border-bottom-color: #1addb0;
}

#tray {
  background-color: #1f2429;
  border-radius: 18px;
  margin: 6px;
  padding: 0 8px;
}

@keyframes blink {
  to {
    color: #f7467b;
  }
}

#clock {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  background-color: #1f2429;
  font-size: 18px;
  color: #b3b7bd;
  /* margin: 6px 12px 6px 0; */
  padding: 0 16px 0 10px;
  /* border-radius: 18px; */
}

#battery {
  color: #00ffb1;
  background-color: #1f2429;
  font-family: Phosphor, Dosis, sans-serif;
  font-size: 20px;
  padding: 0 5px 0 16px;
  border-bottom-left-radius: 24px;
}

#pulseaudio {
  color: #53befc;
  background-color: #1f2429;
  font-size: 24px;
  padding: 0 10px;
}

#pulseaudio.muted {
  color: #f7467b;
}

#backlight {
  color: #ff8a30;
  background-color: #1f2429;
  font-size: 22px;
  padding: 0 10px;
}

#battery.warning {
  color: #ffc457;
}

#battery.critical {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  color: #b467f9;
  background-color: #1f2429;
  font-size: 22px;
  padding: 0 10px;
}

#bluetooth {
  color: #2bfcfc;
  background-color: #1f2429;
  font-size: 22px;
  padding: 0 10px;
}

#custom-seperator {
  background-color: #1f2429;
  color: white;
  font-size: 12px;
}
