$base00: #101317;
$base01: #171C21;
$base02: #1c2026;
$base03: #20252b;
$base04: #949494;
$base05: #d4d4d5;
$base06: #ffffff;
$base07: #2BCAFC;
$base08: #2bfcfc;
$base09: #2798e4;
$base10: #B467F9;
$base11: #f7467b;
$base12: #1addb0;
$base13: #FFC457;
$base14: #00ffb1;
$base15: #9554ff;
$shade00: #3d464e;
$shade01: #2b3238;
$shade02: #24292e;
$shade03: #1f2429;
$shade04: #1c2126;
$shade05: #191e23;
$shade06: #161b20;
$shade07: #151a1f;
$shade08: #13181d;
$shade09: #11161b;
$shade10: #0e1115;
$shade11: #0c0f13;
$shade12: #0a0d11;
$normal: darken($base14, 30%);
$critical: darken($base11, 30%);
$low: darken(#ff8a30, 30%);
$other: darken($base09, 30%);
// vim:ft=scss
