[submodule "modules/color"]
	path = modules/color
	url = https://github.com/andOrlando/color
[submodule "modules/layout-machi"]
	path = modules/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
[submodule "modules/rubato"]
	path = modules/rubato
	url = https://github.com/andOrlando/rubato
[submodule "modules/bling"]
	path = modules/bling
	url = https://github.com/BlingCorp/bling
